@import url("https://fonts.googleapis.com/css?family=Cardo:400,400i|Cinzel+Decorative&display=swap");
#titlebox {
  position: fixed;
  height: auto;
  top: -35vw;
  right: 0vw;
  z-index: -99; }
  #titlebox img {
    width: 100vw; }

#essaybox {
  position: relative;
  width: 90vw;
  top: 4vw;
  padding-bottom: 10vw; }
  #essaybox .titletext {
    position: relative;
    width: 85vw;
    top: 0vw;
    font-family: 'Cinzel Decorative', serif;
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); }
    #essaybox .titletext .author {
      font-size: 4vw;
      line-height: 7vw; }
    #essaybox .titletext .subtitle {
      font-size: 3vw;
      line-height: 3vw;
      margin-top: 2vw;
      display: inline-block; }
  #essaybox .essaytext {
    position: relative;
    width: 60vw;
    left: 20vw;
    top: 5vw;
    font-family: 'Cardo', serif;
    text-align: justify;
    font-size: 1.25vw;
    line-height: 2vw;
    letter-spacing: 0.05vw;
    color: rgba(0, 0, 0, 0.87);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
    #essaybox .essaytext div {
      margin-bottom: 1vw; }
    #essaybox .essaytext .bibliolist div {
      text-indent: -2vw;
      transform: translateX(2vw);
      text-align: left; }
    #essaybox .essaytext .bibliotitle {
      font-family: 'Cinzel Decorative', serif;
      font-size: 2vw;
      padding-top: 50vh; }
    #essaybox .essaytext .break {
      text-align: center; }
    #essaybox .essaytext .quote {
      padding: 0 2.5vw; }
    #essaybox .essaytext .sappho {
      text-align: right;
      font-style: italic; }

@media (max-width: 1000px) {
  #titlebox {
    top: 0vw; }
    #titlebox img {
      height: 110vh;
      width: auto;
      max-width: none;
      -webkit-filter: contrast(90%) brightness(110%);
      filter: contrast(90%) brightness(110%); }
  #essaybox {
    position: relative;
    width: 90vw;
    top: 4vw; }
    #essaybox .titletext {
      position: relative;
      width: 95vw;
      top: 0vw;
      color: rgba(0, 0, 0, 0.87);
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.3); }
      #essaybox .titletext .author {
        font-size: 8.5vw;
        line-height: 9.5vw;
        letter-spacing: -0.1vw; }
      #essaybox .titletext .title {
        font-size: 16vw;
        line-height: 14vw; }
      #essaybox .titletext .subtitle {
        font-size: 6vw;
        line-height: 6vw;
        margin-top: 2vw;
        display: inline-block; }
    #essaybox .essaytext {
      width: 90vw;
      left: 2vw;
      top: 5vw;
      font-size: 4vw;
      line-height: 6vw;
      text-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
      #essaybox .essaytext div {
        margin-bottom: 1vw; }
      #essaybox .essaytext .bibliolist div {
        text-indent: -2vw;
        transform: translateX(2vw);
        text-align: left; }
      #essaybox .essaytext .bibliotitle {
        font-family: 'Cinzel Decorative', serif;
        font-size: 6vw;
        padding-top: 50vh; }
      #essaybox .essaytext .break {
        text-align: center; }
      #essaybox .essaytext .quote {
        padding: 0 2.5vw; }
      #essaybox .essaytext .sappho {
        text-align: right;
        font-style: italic; } }

.overflow-wrapper {
  background-color: transparent; }

header {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0.5vw 1.5vw;
  margin: auto; }

.site-spacing-extra-small .site-header {
  margin: 0vw auto; }
