@import url('https://fonts.googleapis.com/css?family=Lato:300,300i|Major+Mono+Display');

$head-font: "Major Mono Display",
sans-serif;
$body-font: "Lato",
sans-serif;

body {
    margin: 0;
    background-color: rgb(240, 243, 244);
}

.hidescroll::-webkit-scrollbar {
    width: 0 !important
}

.hidescroll {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

#ratiomodal {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 45vh;
    background-color: white;
    font-family: $head-font;
    text-align: center;
    font-size: 2.5vh;
    z-index: 999;
    span {
        color: rgba(255, 0, 0, 0.87);
        text-shadow: 0.1vw 0.1vw;
    }
}

#left {
    position: fixed;
    height: calc(100vh + 1.25vw);
    width: 49.5vw;
    top: 0;
    left: 0;
    overflow: scroll;
}

#right {
    position: fixed;
    height: calc(100vh + 1.25vw);
    width: 49.5vw;
    top: 0;
    left: 50.5vw;
    overflow: scroll;
}

#leftscroller {
    position: fixed;
    font-family: $head-font;
    font-size: 1.5vw;
    left: 20vw;
    color: rgba(255, 0, 0, 0.87);
    transform: rotate(-90deg);
}

#rightscroller {
    position: fixed;
    font-family: $head-font;
    font-size: 1.5vw;
    left: 80vw;
    color: rgba(0, 0, 0, 0.87);
    transform: rotate(90deg);
}

.titlebox {
    height: calc(100vh + 1.25vw);
    overflow: hidden;
    margin-top: -1.25vw;
    .h1 {
        font-family: $head-font;
        font-weight: 300;
        font-size: 1.5vw;
        line-height: 1.2vw;
        text-shadow: 0.1vw 0.1vw;
    }
    .title {
        width: 49.5vw;
        right: 50.5vw;
        text-align: right;
        color: rgba(255, 0, 0, 0.1);
        .focustitle {
            color: rgba(255, 0, 0, 0.87);
        }
    }
    .author {
        width: 49.5vw;
        right: 0;
        text-align: left;
        color: rgba(0, 0, 0, 0.1);
        .focusauthor {
            color: rgba(0, 0, 0, 0.87);
        }
    }
}

.textbox {
    font-family: $body-font;
    font-size: 1.2vw;
    line-height: 2vw;
    letter-spacing: 0.1vw;
    div {
        margin: 2vw 0;
    }
    .essay {
        width: 23vw;
        margin-left: 26.5vw;
        text-align: justify;
        text-align-last: right;
        color: rgba(255, 0, 0, 0.87);
        .quote {
            font-style: italic;
        }
        .indent {
            padding: 0 1.8vw;
        }
        .citenum {
            position: absolute;
            left: 23.5vw;
            font-family: $head-font; //text-shadow: 0.05vw 0.05vw;
        }
    }
    .poem {
        width: 49.5vw;
        color: rgba(0, 0, 0, 0.87);
    }
    .notes {
        width: 23vw;
        text-align: center;
        text-align-last: center;
        .title {
            font-family: $head-font;
            text-shadow: 0.1vw 0.1vw;
        }
        span {
            font-family: $head-font;
        }
        a {
            color: rgba(0, 0, 0, 0.87);
        }
    }
}


@media (max-width: 1000px) {
    #leftscroller {
        font-size: 2.5vw;
        left: 1vw;
    }
    #rightscroller {
        font-size: 2.5vw;
        left: 97.5vw;
    }
    .titlebox {
        h1 {
            font-size: 2vw;
            line-height: 0.3vw;
            text-shadow: 0.1vw 0.1vw;
        }
    }
    .textbox {
        font-size: 1.5vw;
        line-height: 2vw;
        letter-spacing: 0.1vw;
        .essay {
            width: 45vw;
            margin-left: 4.5vw;
            .indent {
                padding: 0 1.8vw;
            }
            .citenum {
                left: 3.25vw;
            }
        }
    }
}
