.homegrid {
    display: grid;
    grid-template-columns: 12.5vw 25vw 12.5vw 12.5vw 25vw 12.5vw;
    grid-template-rows: auto auto;
    grid-template-areas: ". hero hero hero hero ." ". mini1 mini2 mini2 mini3 .";
    margin: auto;
    transform: translateX(-2vw);
}

.homegrid img {
    transition: filter;
    width: 100%;
    height: auto;
}

.homegrid img:hover {
    filter: brightness(110%);
}

.homegrid .bigD {
    grid-area: hero;
    display: flex;
}

.homegrid .bigM {
    grid-area: hero;
    display: none;
}

.homegrid .mini0 {
    grid-area: mini0;
    display: none;
}

.homegrid .mini1 {
    grid-area: mini1;
}

.homegrid .mini2 {
    grid-area: mini2;
}

.homegrid .mini3 {
    grid-area: mini3;
}

@media (max-width: 1000px) {
    .homegrid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "hero" "mini0" "mini1" "mini2" "mini3";
        transform: none;
    }
    .homegrid .bigD {
        display: none;
    }
    .homegrid .bigM {
        display: block;
    }
    .homegrid .mini0 {
        display: block;
    }
}