ul {
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 150%;
    list-style-type: none;
}

ul a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.15);
}

ul a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}